<div fxLayout="row" fxLayoutAlign="center center">
    <fieldset fxFlex="25">
        <div fxLayout="column">
            <mat-form-field>
                <h1>Projeto GitHub</h1>
                <p>Bem-Vindos</p>
            </mat-form-field>
            
        </div>

        <div fxLayout=column>
            <mat-form-field>
                <!--<button  mat-raised-button (click)="openBottomSheet()">Começar</button>--> 
                <button mat-raised-button color="primary">Começar</button>
            </mat-form-field>
        
        </div>   
    </fieldset>
</div>



